/*

!.gitignore

!.xinitrc

!stuff/
stuff/*
!stuff/constants/*
!stuff/scripts/*

!.config/
.config/*

!.config/btop
!.config/sxhkd
!.config/fish
!.config/Thunar
!.config/xfce4
!.config/nvim
!.config/neofetch
!.config/flameshot
!.config/paru
